package templates

import "github.com/wadahiro/fedlens/internal/ui/templates/components"

templ OIDCIndex(tabs []NavTab, name string, discoveryJSON string) {
	@Layout("OIDC - " + name) {
		@Nav(tabs)
		<hgroup>
			<h1>Not logged in</h1>
			<p>OIDC RP: { name }</p>
		</hgroup>
		<a href="/login" role="button">Login</a>
		@components.OIDCSequence()
		if discoveryJSON != "" {
			@components.CodeBlock("OpenID Provider Configuration", discoveryJSON)
		}
	}
}
