package templates

import "github.com/wadahiro/fedlens/internal/ui/templates/components"

templ SAMLIndex(page PageInfo, name string, idpMetadataXML string, acsPath string) {
	@Layout("SAML - " + name, page) {
		@components.Collapsible("sec-flow", "Flow Diagram", false) {
			@components.SAMLSequence(acsPath)
		}
		if idpMetadataXML != "" {
			@components.Collapsible("sec-config", "IdP Metadata", false) {
				@components.XMLCodeBlock("", idpMetadataXML)
			}
		}
	}
}
