package templates

import "github.com/wadahiro/fedlens/internal/ui/templates/components"

templ SAMLIndex(tabs []NavTab, name string, idpMetadataXML string) {
	@Layout("SAML - " + name) {
		@Nav(tabs)
		<hgroup>
			<h1>Not logged in</h1>
			<p>SAML SP: { name }</p>
		</hgroup>
		<a href="/login" role="button">Login</a>
		@components.SAMLSequence()
		if idpMetadataXML != "" {
			@components.XMLCodeBlock("IdP Metadata", idpMetadataXML)
		}
	}
}
